.cover__link {
  min-height: 740px;
  margin: auto;
  background-image: url(../../../images/route66.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-decoration: none;
  box-shadow: inset 0 0 0 2000px rgba(42, 44, 47, 0.3);
  transition: box-shadow 0.5s ease-in-out;
}

.cover__link:hover {
  box-shadow: inset 0 0 0 2000px rgba(42, 44, 47, 0.8);
}

@media screen and (max-width: 1150px) {
  .cover__link {
    min-height: 640px;
  }
}

@media screen and (max-width: 900px) {
  .cover__link {
    min-height: 480px;
  }
}

@media screen and (max-width: 500px) {
  .cover__link {
    min-height: 200px;
  }
}
