.lead__title {
  font-family: Inter, Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 1.04;
  text-align: center;
  max-width: 720px;
  margin: 58px 0 32px;
}

@media screen and (max-width: 1150px) {
  .lead__title {
    margin: 50px 0 32px;
  }
}

@media screen and (max-width: 500px) {
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
    margin: 50px 0 16px;
  }
}
