.place__paragraph {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.63;
  margin: 0 0 25px;
}

@media screen and (max-width: 900px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 630px) {
  .place__paragraph {
    padding: 0 16px 0;
    margin: 2px 0 25px;
    max-width: 100%;
  }
}
