.lead__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 1.2;
  text-align: center;
  max-width: 620px;
  margin-top: 0;
  margin-bottom: 64px;
}

@media screen and (max-width: 1150px) {
  .lead__subtitle {
    margin-bottom: 56px;
  }
}

@media screen and (max-width: 500px) {
  .lead__subtitle {
    margin-bottom: 40px;
    font-size: 16px;
  line-height: 1.25;
  max-width: 85%;
  }
}
