.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  margin: auto;
  padding: 92px 0 24px;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 92px 48px 24px;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    padding: 71px 24px 41px;
  }
}

@media screen and (max-width: 630px) {
  .footer {
    flex-direction: column;
    padding: 64px 16px 24px;
    align-items: flex-start;
  }
}
