.intro__title {
  margin: 0 0 40px;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.07;
  max-width: 70%;
}

@media screen and (max-width: 1150px) {
  .intro__title {
    max-width: 75%;
  }
}

@media screen and (max-width: 900px) {
  .intro__title {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.09;
  }
}
